<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH96P0ZOMjzkWaoOKiCP2ogK84SEBxbX0</string>
	<key>GCM_SENDER_ID</key>
	<string>389701148400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toursandtravels</string>
	<key>PROJECT_ID</key>
	<string>ghumneyho</string>
	<key>STORAGE_BUCKET</key>
	<string>ghumneyho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389701148400:ios:fee87ba1a647925f07ac35</string>
</dict>
</plist>